html {
    overflow-x: hidden;
}

body {
    font-family: "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;
    font-size: 17px;
    font-kerning: auto;
    margin: 0;
    background-color: #000000;
    overflow-x: hidden;
}